* {

    margin: 0;
    padding: 0;

}

.about-us-container {

    padding: 4rem 6rem;
    color: var(--text-color);

}

h1 {

    font-size: 3rem;

}

h2 {

    font-size: 2rem;

}

p {

    margin-bottom: 2rem;

    font-size: 1.125rem;

}