.featured-delicacies-carousel {

    margin: 0;
    padding: 0;

    height: 400px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.featured-delicacies-card {

    flex: 1 1 0;

    margin: 0;
    padding: 1rem;

    border-radius: 1rem;

    box-sizing: border-box;
    box-shadow: 0 0 5px 1px var(--primary-color);

    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;

}

.featured-delicacies-card:hover {

    box-shadow: 0 0 5px 2px var(--secondary-color);

    transform: translateY(-5px); 

}

.featured-delicacies-card img {

    width: 100%;

}