section {

    margin: 0;
    padding: 0;

    width: 100%;
    box-sizing: border-box;
}

section * {

    margin: 0;
    padding: 0;

}





.banner {

    margin: 0;
    padding: 10rem 6rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background-image: url(/src/Assets/marinduque-banner2.jpg);
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    color: var(--background-color);

}

.banner-content {

    margin: 0;
    padding: 0;

    width: 60vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;

}

.banner-title {

    margin: 0;
    padding: 0;

    font-size: 4rem;

}

.banner-text {

    margin: 0;
    padding: 0;

    font-size: 1.5rem;

}

.banner-button {

    all: unset;
    
    margin: 0;
    padding: 1rem 2.5rem;
    border-radius: 0.75rem;

    width: fit-content;
    
    cursor: pointer;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 700;

    background-color: var(--accent-color);

    transition: background-color 200ms ease-in-out;
}

.banner-button:hover {
    
    background-color: var(--primary-color);

}

.banner-button:active {
    
    background-color: var(--secondary-color);

}





.featured-delicacies {

    margin: 0;
    padding: 5rem 6rem;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    background-color: var(--background-color);

    color: var(--text-color);

}

.featured-delicacies-content {
    
    flex: 1 1 0;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;

    text-align: right;

}

.featured-delicacies-carousel {

    flex: 2.5 0 0;

}

.featured-delicacies-title {

    margin: 0;
    padding: 0;

    font-size: 3rem;

}

.featured-delicacies-text {

    margin: 0;
    padding: 0;

    font-size: 1.5rem;

}